.wrapper {
    /* background: url("/assets/background.png") no-repeat center;*/
    background-size: cover;
    max-width: 100vw;
    height: calc(100vh + 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  