.wrapper {
  margin: 0px 50px;
  width: 300px;
  height: fit-content;
  padding: 8px;
  border: 1px solid rgba(90, 88, 88, 0.39);
  word-wrap: break-word;
}

.image {
  max-width: 100%;
  height: 200px;
}

.text {
  padding: 10px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  /* white-space: nowrap;
    text-overflow:ellipsis; */
  width: 100%;
  /* display: block;
    overflow: hidden;
    word-wrap: break-word; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.info {
  color: #8c8c8c;
  display: block;
  width: fit-content;
  margin: 0px auto;
}

.description {
  margin-top: 15px;
  padding: 0 35px;
  text-align: justify;
}

.link {
  color: #337ab7;
}

.link:hover {
  color: #23527c;
  text-decoration: underline;
}
