@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #01579b;
}

.wrapper {
  width: 1170px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 900px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    width: 800px;
  }
}

@media (max-width: 810px) {
  .wrapper {
    width: 480px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 370px;
  }
}

.alice-carousel__prev-btn {
  width: fit-content !important;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}

.alice-carousel__next-btn {
  width: fit-content !important;
  position: absolute;
  top: 50%;
  right: -20px;

  transform: translateY(-50%);
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  width: 32px;
  height: 32px;
}

.alice-carousel__prev-btn span,
.alice-carousel__next-btn span {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 12px;
  border-radius: 50%;
}

.alice-carousel__prev-btn span::after,
.alice-carousel__next-btn span::after {
  color: var(--color-primary);
  font-size: 28px;
}

.alice-carousel__prev-btn span:hover::after,
.alice-carousel__next-btn span:hover::after {
  opacity: 0.6;
}
