.container {
  margin: 0 auto;
  gap: 5px;
  padding: 40px 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.meta {
  display: flex;
  gap: 20px;
}

.line {
  width: 80%;
  border: 0.5px solid #e0e0e0;
  margin: 8px;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #999;
}

.cover {
  margin: 0.5rem 8rem;
  clear: both;
}

.cover > span {
  float: left;
  margin-right: 1.5em !important;
}

.content a {
  color: #337ab7;
  font-weight: 400;
}

.content a:hover {
  color: #23527c;
  text-decoration: underline;
}

.button {
  display: flex;
  align-items: center;
  gap: 16rem;
}

.previous,
.next {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicator {
  display: flex;
  align-items: center;
  gap: 5px;
}

.previous a,
.next a {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  color: var(--color-primary);
}

.previous a:hover,
.next a:hover {
  color: #003056;
}

.thread {
  width: 700px;
  margin: 20px auto 0px;
}
